<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="examendeprogramRAD.My.MySettings.CONEXION" connectionString="Data Source=DESKTOP-IBRT8FT;Initial Catalog=ExamenRAD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
